<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} by {{author}}!
  </h1>
  <app-my-component></app-my-component>
  <!-- <button (click)="enabled=true? false : true" >Click me {{enabled}}</button> -->
  <button (click)="count = count + 1" >Counting: {{count}}</button>
  <button (click)="enabled=!enabled" >Input disabled? {{!enabled}}</button>
  <input type="text" [disabled]="!enabled">
  <img [src]="imgSource">
</div>
